################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/D1Chess/v16
/.vs/slnx.sqlite
/D1Chess/bin
/D1Chess/obj/Debug
