<FieldSet ng-style="Password.FieldSet.NgStyle" ng-switch="Password.Switch">
    <legend ng-style="Password.Legend_Text.NgStyle">{{Password.Legend}}</legend>

    <label ng-style="Password.Current_Label.NgStyle">Current</label>
    <input ng-switch-when="Text" type="text" ng-style="Password.Current_Input.NgStyle" ng-disabled="Password.Disabled" ng-change="VM_Password.ChangeFunc()" ng-model="Password.Old" />
    <input ng-switch-when="Password" type="password" ng-style="Password.Current_Input.NgStyle" ng-disabled="Password.Disabled" ng-change="VM_Password.ChangeFunc()" ng-model="Password.Old" />

    <label ng-style="Password.New_Label.NgStyle">New</label>
    <input ng-switch-when="Text" type="text" ng-style="Password.New_Input.NgStyle" ng-disabled="Password.Disabled" ng-change="VM_Password.ChangeFunc()" ng-model="Password.New" />
    <input ng-switch-when="Password" type="password" ng-style="Password.New_Input.NgStyle" ng-disabled="Password.Disabled" ng-change="VM_Password.ChangeFunc()" ng-model="Password.New" />
</FieldSet>

<button type="button" ng-click="VM_Password.ClickExitFunc()" ng-style="Password.Exit.NgStyle" ng-disabled="Password.Disabled">Exit</button>
<button type="button" ng-click="VM_Password.ClickToggleFunc()" ng-style="Password.Toggle.NgStyle" ng-disabled="Password.Disabled">{{Password.Toggle.Text}}</button>
<button type="button" ng-click="VM_Password.ClickSaveFunc()" ng-style="Password.Save.NgStyle" ng-disabled="Password.Disabled || Password.Save_Disabled">Save</button>
