<button ng-style="VM.User.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('User')" type="button">User</button>
<button ng-style="VM.Profiles.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('Profiles')" type="button">Profiles</button>

<button ng-style="VM.Practice.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('Practice')" type="button">Practice</button>

<button ng-style="VM.Start.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('Start')" type="button">Start</button>
<button ng-style="VM.Players.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('Players')" type="button">Players</button>

<button ng-style="VM.Games.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('Games')" type="button">Games</button>
<button ng-style="VM.History.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('History')" type="button">History</button>

<button ng-style="VM.LogOut.Style" ng-disabled="VM.Disabled" ng-click="VC.OnClick('LogOut')" type="button">Log Out</button>
